{% extends "_base.html" %}

{% block content %}

<div class="col-md-12 p-4">
    <div class="card">
      <img class="card-img-top" src="{{ project.image.url }}" alt="Card image cap">
      <div class="card-body pt-5">
        <h3 class="card-title">{{ project.title }}</h3>
        <small>
            <h5>
                Technology used:&nbsp;
                {{ project.technology }}
            </h5>
        </small>
        <p class="card-text">{{ project.description }}</p>

        <div class="icon-block">
          <button class="page-link"><a href="{% url 'contact' %}">Contact</a></button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}