{% extends "_base.html" %}

{% block content %}


<div class="container">
    <!-- Blog post -->
      <div class="row py-3">
        {% for project in projects %}
        <div class="col-lg-12">
          <div class="card mb-3">
            <div class="row no-gutters">
              {% if forloop.first or forloop.last %}
              <div class="col-lg-5">
                <img src="{{ project.image.url }}" class="card-img" alt="{{ project.title }}">
              </div>
              {% endif %}
              <div class="col-lg-7">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{{ project.get_absolute_url }}">{{ project.title }}</a>
                    </h5>
                    <span><p class="text-muted">Technology used:&nbsp;{{ project.technology }}</p></span>
                  <p class="card-text">{{ project.description | truncatewords:15 }}</p>
                </div>
              </div>
              {% if not forloop.first and not forloop.last %}
              <div class="col-lg-5">
                <img src="{{ project.image.url }}" class="card-img" alt="{{ project.title }}">
              </div>
              {% endif %}
            </div>
          </div>       
      </div>
      {% empty %}
      <center>
        <h5>Oops!No projects found</h5>
      </center>
      {% endfor %}
      </div>
  
      {% if is_paginated %}
      <div class="container mb-3">
        {% include 'pagination.html' %}
      </div>
    {% endif %}
  </div>

{% endblock %}