{% extends '_base.html' %}

{% load socialaccount %}

{% providers_media_js %}

{% load crispy_forms_tags %}

{% block title %}Log In{% endblock title %}

{% block content %}
<div class="container-accounts">
    <h2>Log In</h2>

    <a href="{% provider_login_url 'facebook' method='js_sdk' %}">Facebook Connect</a>

    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="page-btn btn-outline-success btn-lg" type="submit">Log In</button>
    </form>
</div>
{% endblock content %}