{% extends '_base.html' %}

{% load static %}

{% block title %}About{% endblock title %}

{% block content %}
<div class="container about">
  <div class="row">
    <div class="col-md-4">
      <img src="{% static 'images/mk2.jpg' %}" class="card-img rounded-circle mx-auto d-block mb-3" alt="...">
        <span class="pro">PRO</span>
          <h3>Mahfuz Khandaker</h3>
    
          
    
          <p class="text-justify-center">
            Python Django Expert and <br />
      
      
            Web Developer
    
          </p>
          <div class="buttons">
            <button class="primary"><a href="{% url 'contact' %}">Message</a></button>
            <button class="primary ghost"><a href="{% url 'newsletters:subscribe' %}">Following</a></button>
          </div>
          <div class="skills">
            <h6>Skills</h6>
            <ul>
              <li>Python</li>
              <li>Django</li>
              <li>VueJs</li>
              <li>JQuery</li>
              <li>Ajax</li>
              <li>CSS</li>
              <li>Flexbox</li>
              <li>Docker</li>
            </ul>
          </div>
    </div>
    <div class="col-md-8">
      <div class = "vertical"></div>

      

      <h3>Python Django Web Developer</h3>
    <div class="skills-info">
      <p class="text-justify">
        We love Django using Python code on the back end 
        with JavaScript, Jquery, Ajax, CSS, Bootstrap4 and mostly familiar with VueJS, 
        a JavaScript framework on the front end, for Web Development - with a passion 
        for programming and learning - the perfect combination. Our primary areas of interest 
        are web technologies and Python in general. Never afraid of diving in the deep end 
        and figuring out how to climb out as well as to get into tech domain profusely.
      </p>
      </div>
      <div class="buttons">
        <button class="btn cta page-link"><a href="{% url 'contact' %}">GET IN TOUCH</a></button>
      </div>
    
    </div>
  </div>
</div>
{% endblock content %}