{% extends '_base.html' %}

{% load static %}

{% block title %}About{% endblock title %}

{% block content %}
<h1>About Me</h1>
<div class="card mb-3">
    <div class="row">
      <div class="col-md-4 py-3">
        <img src="{% static 'images/web13.jpg' %}" class="card-img rounded-circle mx-auto d-block mb-3" alt="...">
        <center class="py-3">
          <small class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis ipsa distinctio magni vitae quasi incidunt error nisi, corrupti deserunt accusantium doloremque aliquid asperiores delectus fugiat, fuga dicta sapiente aut quas?</small>
        </center>
        <button class="anywhere-link mx-auto d-block p-2">
          <a href="{% url 'contact' %}">Contact</a>
        </button>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">Mahfuz Khandaker</h3>
          <h5 class="card-subtitle text-muted">Python Web Developer</h5>
          <hr>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita sequi cupiditate ipsum repellendus corrupti asperiores cum perferendis possimus quibusdam accusamus, voluptatem veritatis veniam tempore, nostrum error commodi! Non, nulla atque.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}