{% extends '_base.html' %}

{% load static %}

{% load markdown_extras %}

{% block title %}Home{% endblock title %}

{% block content %}

<!-- Hero Section-->
<section style="background-image: url('media/images/web3.jpg'); background-size: cover; background-position: center center" class="hero">
  <div class="container">
      <div class="row">
        <div class="col-lg">
          <a href="{% url 'post-list' %}" class="hero-link">{{ post_num }} Posts</a> |
          <a href="{% url 'project_index' %}" class="hero-link">{{ project_num }} Projects</a>
          <h1>Build your ideas faster and easier with Python & Django Web Development Services</h1>
          <br>
          <p>We build custom web application that’s responsive (mobile-ready), reactive (light-speed fast), with a full-featured admin interface to manage the content and more...</p>
        </div>
      </div><a href="#" class="continue link-scroll">
        Scroll Down
        <br>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
          <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
        </svg>
      </a>
    </div>
  </section>
  <!-- Intro Section-->
  <section class="intro">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <img src="{% static 'images/web13.jpg' %}" class="card-img mx-auto d-block mb-3" alt="...">
        </div>
        <div class="col-lg-7">
          <h2 class="h3">Hire the best
            DJANGO Developers
            in Bangladesh</h2>
          <p class="text-big">We love <strong>Django</strong> using Python code on the back end and mostly familiar with <strong>VueJS,</strong> a JavaScript framework on the front end, for <strong>Web Development</strong> - with a passion for programming and learning - the perfect combination. Our primary areas of interest are web technologies and Python in general. Never afraid of diving in the deep end and figuring out how to climb out as well as to get into tech domain profusely.</p>
        </div>
        
      </div>
    </div>
  </section>
  <section class="featured-posts">
  <div class="container">
    <h1>Featured posts</h1>
    <!-- Blog post -->
      <div class="row py-3">
        {% for post in featured_posts %}
        <div class="col-md-6">
          <div class="card mb-3">
            <img class="card-img-top" src="{{ post.thumbnail.url }}" alt="{{ post.title }}">
            <div class="card-body cf">
              <h3 class="card-title"><a class="text-dark" href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
              <small class="text-muted">
                Published on:&nbsp;
                {{ post.timestamp.date }} |&nbsp;
                <i class="fa fa-thumbs-up"> {{ post.total_likes }} Like{{ post.total_likes|pluralize }}</i> |
                <i class="fas fa-clock text-info"></i> {% if post.read_time <= 1 %} 1 Minute read  {% else %} {{ post.read_time }} Minute{{ post.read_time|pluralize }} read {% endif %} |&nbsp;
                <i class="fa fa-eye"></i> {{ post.number_of_views }} views |
                <i class="fa fa-comment"></i> {{ post.comments.count }} comments
                {% for category in post.categories.all %}
                <a href="{% url 'post_category' category.title %}">
                  {{ category.title }}
                </a>&nbsp;
                {% endfor %}
              </small>
              <p class="card-text">{{ post.content | markdown | safe | truncatewords:15 }}</p>
              <a href="{{ post.get_absolute_url }}" class="blog-home__cta">Read More</a>
          </div>
      </div>
  </div>
      {% empty %}
      <center>
        <h5>Oops!No post found</h5>
      </center>
      {% endfor %}
      </div>
  
      {% if is_paginated %}
      <div class="container mb-3">
        {% include 'pagination.html' %}
      </div>
    {% endif %}
  </div>
  </section>
  
   <!-- Divider Section-->
   <section style="background: url('media/images/web3.jpg'); background-size: cover; background-position: center bottom" class="divider">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</h2><a href="#" class="hero-link">View More</a>
        </div>
      </div>
    </div>
  </section>
  
    <!-- Latest Posts -->
    <section class="latest-posts"> 
      <div class="container cf">
        <header> 
          <h2>Latest from the blog</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </header>
        <div class="row">
          {% for post in most_recent %}
          <div class="col-md-4">
            <div class="card blogcard bounce-up cf">
              <img src="{{ post.thumbnail.url }}" class="card-img-top" alt="{{ post.title }}">
              <div class="card-body cf">
                <h5 class="card-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h5>
                <small class="text-muted">
                  <i class="fa fa-eye"></i> {{ post.number_of_views }} views
                  <i class="fa fa-comment"></i> {{ post.comments.count }} comments
  
                  {% for category in post.categories.all %}
                  <a href="{% url 'post_category' category.title %}">
                    {{ category.title }}
                  </a>&nbsp;
                  {% endfor %}
                </small>
                <p class="card-text">{{ post.overview|linebreaks|truncatewords:30 }}</p>
                <p><small class="text-muted">Last updated {{ post.updated|timesince }} ago</small></p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>   
    
{% endblock content %}