@import url(https://fonts.googleapis.com/css?family=Raleway:400,800|Roboto+Slab:300);
@import url('https://fonts.googleapis.com/css?family=Montserrat');

*, *:before, *:after {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	transition: 0.4s ease all;
}

html {
	height: 100%;
	font-size: 100%;
	scroll-behavior: smooth;
}


body {
	display: block;
	overflow-x: hidden;
  background-color: #010409;
  color: #f0f6fc;
	min-height: 100vh;
}

/* #Styling# */
strong {
	font-weight: 700;
}

a,
i,
span {
	color: rgb(212, 212, 212);
	display: inline-block;
	text-decoration: none;
	-webkit-transition: 0.4s ease all;
	transition: 0.4s ease all;
}
  
a:hover, a:focus,
i:hover,
i:focus,
span:hover,
span:focus {
  text-decoration: none;
  color: rgb(251, 209, 142);
}

a i {
  -webkit-transition: none;
  transition: none;
}
  
ul {
	margin: 0;
	padding: 0;
}
  
button,
input {
	outline: none !important;
	font-family: "Open Sans", sans-serif;
}
  
button {
	cursor: pointer;
}
  
main,
aside {
	padding: 30px 0 50px;
}
  
h1 a {
	margin-left: 10px;
	font-size: 0.9em;
	opacity: 0;
	-webkit-transition: 0.4s ease all;
	transition: 0.4s ease all;
	color: rgb(76, 93, 116);
	text-decoration: none;
}
  
h1:hover a {
	opacity: 1;
}

.input-group .form-control, .form-select {
  padding: 5px 12px;
  font-size: 14px;
  line-height: 20px;
  color: #c9d1d9;
  vertical-align: middle;
  background: #0d1117;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #21262d;
  border-radius: 6px;
  outline: none;
}

svg.bi.bi-search {
  color: #f0f6fc;
  overflow: hidden;
  vertical-align: middle;
}
.widget {
  margin-bottom: 10px;
	padding: 10px;
	border: 1px solid rgb(180 112 61 / 20%);
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
  
.widget.search .form-group {
	position: relative;
}
  
.widget.search input {
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 0.95em;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	background: none;
}
  
.widget.search input::-moz-placeholder {
	color: rgb(248, 246, 246);
	font-family: "Open Sans", sans-serif;
}
  
.widget.search input::-webkit-input-placeholder {
	color: rgb(248, 246, 246);
	font-family: "Open Sans", sans-serif;
}
  
.widget.search input:-ms-input-placeholder {
	color: rgb(248, 246, 246);
	font-family: "Open Sans", sans-serif;
}
  
.widget.search .submit {
	height: 40px;
	padding: 5px;
	line-height: 40px;
	background: none;
	border: none;
	color: rgb(189, 189, 189);
	font-size: 0.9em;
	position: absolute;
	top: 0;
	right: 0;
}
  
.widget.latest-posts a {
	display: block;
	color: #b2b2b3;
	text-decoration: none;
}
  
.widget.latest-posts a:hover {
	color: rgb(230, 214, 214);
}
  
.widget.latest-posts .image {
	min-width: 60px;
	max-width: 60px;
	height: 60px;
	overflow: hidden;
	margin-right: 20px;
}
  
.widget.latest-posts .item {
	margin-bottom: 10px;
}
  
.widget.latest-posts strong {
	font-size: 16px;
	display: block;
	line-height: 1em;
}

textarea.form-control {
  height: auto;
  background-color: #0d1117;
}

section {
	padding: 50px 0;
	overflow-x: hidden;
  /* min-height: 100vh; */
}


section.hero {
  height: 100vh;
  background-image: url( '/static/images/moon.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
	font: normal 14px/1.618em "Roboto", sans-serif;
}

section.hero .container {
	padding: 100px 50px;
	position: relative;
}
  
section.hero h1 {
	line-height: 1.2em;
}

section.hero .hero-link {
	color: #ddd;
}
  
section.hero .continue {
	text-decoration: none !important;
  color: #03bfcb;
	/* color: inherit !important; */
	text-transform: uppercase;
	font-size: 0.75em;
	opacity: 0.8;
}
  
section.hero .continue svg {
	margin-right: 5px;
  color: #03bfcb;
}
  
  /* Hero Section Media Query ------------------------------------- */
@media (max-width: 767px) {
	section.hero .container {
	  padding: 50px 20px;
	}
}

section.intro {
  padding: 50px;
  position: relative;
	font: normal 14px/1.618em "Roboto", sans-serif;
}

section.intro .container {
	padding: 100px 50px;
	position: relative;
}

@media (max-width: 767px) {
	section.intro .container {
	  padding: 50px 20px;
	}
}

/* START BLOG POST */
.container-blog-posts{
  max-width: 93.5rem;
  margin: 0 auto;
  padding: 0 2rem;
}
.blog-posts {
	display: flex;
	flex-wrap: wrap;
  margin: -1rem -1rem;
  padding-bottom: 3rem;
}

.blog-card {
  position: relative;
    flex: 1 0 22rem;
    margin: 1rem;
    color: #fff;
    cursor: pointer;
}
.blog-card:hover {
  cursor: pointer;
	box-shadow: 0 1px 2px 0 #11ddf8;
}
.blog-card-image img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

.blog-card-info {
	margin-top: 20px;
	padding: 10px;
	text-align: center;
}

/* START BLOG POST */
  /*
  * ==========================================================
  *     DIVIDER SECTION
  * ==========================================================
  */
section.divider {
	color: #fff;
}

.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}
.flex-auto {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}

/* blog-main */
.blog-main{
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

/* .col-md-12 {
  padding: 0;
} */

@media (min-width: 768px){
  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

.list-group-item {
position: relative;
display: block;
padding: .75rem 1.25rem;
background-color: #fff;

}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
a:hover {
  color: rgb(251, 209, 142);
}

/* END blog-main */
/* Header */
header {
  padding: 0%;
}
.blog-header {
  width: 100%;
  background-color: #161b22;
  color: #f0f6fc;
  z-index: 10;
}

.blog-header-logo {
  font-size: 2rem;
  font-weight: 800;
}
.blog-header-logo:hover {
  text-decoration: none;
}
.blog-header a{
  color: rgba(181, 182, 184, 0.694);
  font-size: 1.1rem;
  font-weight: 600;
}
.blog-header a:hover{
  text-decoration: none;
  color: rgb(251, 209, 142);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
  font-size: 2.5rem;
}

@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.fixed {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
}
/* START Sidebar: make-me-sticky  */
.blog-sidebar{
  width: 100%;
  height: 100%;
}

.make-me-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
  padding: 5px;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card{
  margin: 5px;
  background-color: #0d1117;
  overflow: hidden;
  color: #f8f7f7;
  border: 1px solid rgb(180 112 61 / 20%);
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.card:hover {
  cursor: pointer;
	box-shadow: 0 2px 4px 0 #11ddf8;
}

/* .card-title, h5 a {
  font: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  color: #58a6ff;
} */

.card-title, h3 a {
  font-size: calc(1.3rem + .6vw);
  color: #58a6ff;
}

.card-img-top {
  height: 60vh;
  width: 100vw;
  object-fit: cover;
}
a.card-link {
  color: #17a2b8;
	font-size: 16px;
}
/* .card-img-right {
  height: 250px;
  width: 200px;
  right: 0;
  border-radius: 0 3px 3px 0;
  object-fit:cover;
} */
.btn-outline-info {
  /* color: #17a2b8; */
  border-color: #17a2b8;
	padding: 0px 5px;
}

.mb-2, .my-2 {
  margin-bottom: .5rem!important;
}


.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.card-img-right {
  height: 100%;
  width: 200px;
  border-radius: 0 3px 3px 0;
  object-fit: cover;
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 { 
  height: 250px; 
}
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

.rounded-circle {
  top: 50%;
  left: 50%;
  height: 127px;
  width: 127px;
  border-radius: 50%;
  border: 3px solid rgb(11, 11, 17);
}
@media (min-width: 40em) {
  .card-title {
    font-size: 2rem;  
  }
}

.avatar{
  height: 42px;
  width: 42px;
  border-radius: 50%;
  border: 1px solid rgb(22, 21, 21);
}

/* Pagination */
.blog-pagination {
  margin-bottom: 2rem;
}
.blog-pagination > .btn {
  padding: .5rem .75rem;
  border: 1px solid #17a2b8;
	border-radius: 2rem;
}
/*
 * Blog posts
 */
.blog-post {
  margin: 3%;
}

.page-link {
    position: relative;
    display: block;
    margin: 2rem 0;
    padding: .5rem .75rem;
    letter-spacing: 1px;
    background-color: transparent;
    border: 1px solid #17a2b8;
    border-radius: 2rem;
}
.page-link a {
  padding: .5rem .75rem;
  color: #17a2b8;
  font-size: 20px;
  font-weight: 600;
}
.page-btn {
  position: relative;
  display: block;
  margin: 2rem 0;
  padding: .5rem .75rem;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 600;
  color: #17a2b8;
  background-color: transparent;
  border: 1px solid #17a2b8;
  border-radius: 2rem;
}
.create-post {
  background-color: #031f30;
  min-height: 100vh;
  padding: 50px 100px;
}
.create-post .wmd-panel {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  min-width: 500px;
}
.create-post .wmd-input {
  height: 300px;
  width: 100%;
  color: #d3d4d4;
  background-color: #0d1117;
  border: 1px solid  #21262d;
}
.create-post .wmd-preview {
  background-color: rgba(13, 17, 23, 0.5);
}
.edit-post {
  min-height: 100vh;
  padding: 50px 100px;
}
.edit-post .wmd-panel {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  min-width: 500px;
}
.edit-post .wmd-input {
  height: 300px;
  width: 100%;
  /* color: #d3d4d4; */
  background-color: #1b1c1f;
  border: 1px solid  #21262d;
}
.edit-post .wmd-preview {
  font-size: inherit;
  background-color: rgba(13, 17, 23, 0.5);
  color: #b37f5c;
}
.edit-post .wmd-preview code {
  font-size: inherit;
  background-color: rgb(13 17 23);
  color: #e4b23e;
  word-break: normal;
}

/* pre {
  display: block;
  font-size: 87.5%;
  color: #c3c9b3;
} */

pre {
  margin-top: 3rem;
  margin-bottom: 1rem;
  overflow: auto;
}

/* About Section */
.cta {
	display: inline-block;
	padding: 10px;
	color: white;
	background-color: transparent;
	border: 1px solid crimson;
	font-size: 1.5rem;
  font-weight: 600;
	text-transform: uppercase;
	letter-spacing: .1rem;
	margin-top: 30px;
	transition: .3s ease;
	transition-property: background-color, color;
}
.cta:hover a {
	color: crimson;
  text-decoration: none;
}

.about {
	background-color: #010409;
	font-family: Montserrat, sans- serif;
	/* box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75); */
	color: #b3b8cd; 
	padding: 50px;
	/* position: relative;
	height: 100%; */
	max-width: 100%;
	text-align: center;
	display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
  } 
  
.about .pro {
	background-color: #ffa200;
	border-radius: 3px;
	font-size: 14px;
	font-weight: bold;
	padding: 3px 7px;
	position: absolute;
	top: 5px;
	left: 20px; 
  
}

.about h3 {
    margin: 10px 0;
	color: #03bfcb;
	font-family: Montserrat, sans- serif;
	font-weight: 600;
}
  
.about h5 {
    margin: 5px 0;
	padding-top: 20px;
	color: #f7a517;
    text-transform: uppercase;
	font-weight: 600;
  }
  
.about p {
	padding: 30px 50px;
	text-align: center;
    font-size: 18px;
    line-height: 21px;
  }


  button.primary {
  background-color: #0d1117;
	border: 1px solid #2a2a2b;
	border-radius: 3px;
	color: #fbfbfb;
	font-family: Montserrat, sans-serif;
	font-weight: 600;
	padding: 10px 15px;
  }
  
  button.primary.ghost {
    background-color: #ffa600;
    border: 1px solid #692201;
	  /* color: #fbfbfb; */
  }
  button.primary.ghost a {
	background-color: transparent;
	color: #19181A;
  font-weight: 600;
	text-decoration: none;
  }
  button.primary.ghost:hover a {
	/* background-color: transparent; */
	color: #f9faf8;
	text-decoration: none;
}
  
.skills {
	background-color: #0d1117;
	text-align: left;
	padding: 15px;
	margin-top: 30px; 
	margin-bottom: 30px;
  }
.skills ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
  
.skills ul li {
	border: 1px solid #010409;
	border-radius: 2px;
	display: inline-block;
	font-size: 12px;
	margin: 0 7px 7px 0;
	padding: 7px;
  }
.vertical { 
	margin-top: 100px;
	border-left: 6px solid crimson; 
	height: 30vh;
	/* height: 300px;  */
	position:absolute; 
	left: 0; 
} 

.skills-info {
	background-color: #0d1117;
	text-align: left;
	padding: 15px;
	margin-top: 30px; 
	margin-bottom: 30px;
  }

.subscribe {
	background-color: #231e39;
	font-family: Montserrat, sans- serif;
	/* box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75); */
	color: #b3b8cd; 
	padding: 50px;
	/* position: relative;
	height: 100%; */
	max-width: 100%;
	text-align: center;
	display: flex;
    align-items: center;
    justify-content: center;
    
    min-height: 100vh;
    margin: 0;
}

.contact {
	/* background-color: rgb(17, 19, 17);; */
	font-family: Montserrat, sans- serif;
	box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
	color: #b3b8cd; 
	padding: 50px;
	/* position: relative;
	height: 100%; */
	max-width: 100%;
	text-align: center;
    min-height: 100vh;
    margin: 0;
}


/* Flexbox */
.flex-container {
	background-color: #0d1117;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-size: 30px;
	text-align: center;
  }
  
  .flex-item-left {
	padding: 50px;
	flex: 40%;
  }
  
  .flex-item-right {
	padding: 50px;
	flex: 60%;
  }
  
  /* Responsive layout - makes a one column-layout instead of a two-column layout */
  @media (max-width: 800px) {
	.flex-item-right, .flex-item-left {
	  flex: 100%;
	}
  }

.flex-item-footer {
	padding: 10px;
	flex: 60%;
	padding: 50px;
}

.links ul {
	list-style: none;
	padding: 0;
	margin: 0 0 20px 0;
  }
  
  .links li {
	font-size: 16px;
	text-align: center;
	cursor: pointer;
  }
  
  .links li:hover {
	text-decoration: underline;
  }
  .footer-icons {
	background-color: #231e39;
  }


  
  /* Footer main | Newsletter form */
  /* ul {
    margin: 0px;
    padding: 0px;
} */
.footer-section {
  background-color: #0d1117;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.linkedin-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
  /* display: inline-block; */
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #010409;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}


/* Profile Section */
.container-profile {
  max-width: 93.5rem;
  margin: 0 auto;
  padding: 0 2rem;
}
.btn {
  display: inline-block;
  font: inherit;
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  cursor: pointer;
}
.profile {
  padding: 5rem 0;
}

.profile::after {
  content: "";
  display: block;
  clear: both;
}

.profile-image {
  float: left;
  width: calc(33.333% - 1rem);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3rem;
}

.profile-image img {
  height: 9.5rem;
  width: 9.5rem;
  border-radius: 50%;
  border: 3px solid rgb(180 112 61 / 20%);
  object-fit: cover;
}

.profile-user-settings,
.profile-stats,
.profile-bio {
  float: left;
  width: calc(66.666% - 2rem);
}

.profile-user-settings {
  margin-top: 1.1rem;
}

.profile-user-name {
  display: inline-block;
  font-size: 3.2rem;
  font-weight: 300;
}

.profile-edit-btn {
  font-size: 1.4rem;
  line-height: 1.8;
  border: 0.1rem solid #dbdbdb;
  border-radius: 0.3rem;
  padding: 0 2.4rem;
  margin-left: 2rem;
}

.profile-settings-btn {
  font-size: 2rem;
  margin-left: 1rem;
}

.profile-stats {
  margin-top: 2.3rem;
}

.profile-stats li {
  display: inline-block;
  font-size: 1.6rem;
  line-height: 1.5;
  margin-right: 4rem;
  cursor: pointer;
}

.profile-stats li:last-of-type {
  margin-right: 0;
}

.profile-bio {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 2.3rem;
}

.profile-real-name,
.profile-stat-count,
.profile-edit-btn {
  font-weight: 600;
}

/* Loader */

.loader {
  width: 5rem;
  height: 5rem;
  border: 0.6rem solid #999;
  border-bottom-color: transparent;
  border-radius: 50%;
  margin: 0 auto;
  animation: loader 500ms linear infinite;
}

/* Media Query */

@media screen and (max-width: 40rem) {
  .profile {
      display: flex;
      flex-wrap: wrap;
      padding: 4rem 0;
  }

  .profile::after {
      display: none;
  }

  .profile-image,
  .profile-user-settings,
  .profile-bio,
  .profile-stats {
      float: none;
      width: auto;
  }

  .profile-image img {
      width: 7.7rem;
      height: 7.7rem;
      border-radius: 50%;
  }

  .profile-user-settings {
      flex-basis: calc(100% - 10.7rem);
      display: flex;
      flex-wrap: wrap;
      margin-top: 1rem;
  }

  .profile-user-name {
      font-size: 2.2rem;
  }

  .profile-edit-btn {
      order: 1;
      padding: 0;
      text-align: center;
      margin-top: 1rem;
  }

  .profile-edit-btn {
      margin-left: 0;
  }

  .profile-bio {
      font-size: 1.4rem;
      margin-top: 1.5rem;
  }

  .profile-edit-btn,
  .profile-bio,
  .profile-stats {
      flex-basis: 100%;
  }

  .profile-stats {
      order: 1;
      margin-top: 1.5rem;
  }

  .profile-stats ul {
      display: flex;
      text-align: center;
      padding: 1.2rem 0;
      border-top: 0.1rem solid #dadada;
      border-bottom: 0.1rem solid #dadada;
  }

  .profile-stats li {
      font-size: 1.4rem;
      flex: 1;
      margin: 0;
  }

  .profile-stat-count {
      display: block;
  }
}

/* Spinner Animation */

@keyframes loader {
  to {
      transform: rotate(360deg);
  }
}

/*

The following code will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox & floated styling. 

*/

@supports (display: grid) {
  .profile {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: repeat(3, auto);
      grid-column-gap: 3rem;
      align-items: center;
  }

  .profile-image {
      grid-row: 1 / -1;
  }


  .profile-image,
  .profile-user-settings,
  .profile-stats,
  .profile-bio {
      width: auto;
      margin: 0;
  }

  @media (max-width: 40rem) {
      .profile {
          grid-template-columns: auto 1fr;
          grid-row-gap: 1.5rem;
      }

      .profile-image {
          grid-row: 1 / 2;
      }

      .profile-user-settings {
          display: grid;
          grid-template-columns: auto 1fr;
          grid-gap: 1rem;
      }

      .profile-edit-btn,
      .profile-stats,
      .profile-bio {
          grid-column: 1 / -1;
      }

      .profile-user-settings,
      .profile-edit-btn,
      .profile-settings-btn,
      .profile-bio,
      .profile-stats {
          margin: 0;
      }
  }
}
/* 
.blog-posts {
	display: flex;
	flex-wrap: wrap;
}

.blog-card {
	display: flex;
	flex-direction: column;
	
	padding: 1%;
	flex: 1 32%;
	margin: 10px 5px;
  background-color: #040404;
  overflow: hidden;
  color: #f8f7f7;
  border: 1px solid #1a1919;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);

}
.blog-card:hover {
  cursor: pointer;
	box-shadow: 0 1px 2px 0 #11ddf8;
}
.blog-card-image img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

.blog-card-info {
	padding: 10px;
	text-align: center;
} */

@media ( max-width: 920px ) {
	
	.blog-card {
		flex: 1 33%;
	}
	
  /* .profile-blog-card-image img {
    height: 220px;
  } */

	.blog-posts .blog-card:first-child, 
	.blog-posts .blog-card:nth-child(2) {
		flex: 2 66%;
	}
	
}

@media ( max-width: 600px ) {
	
	.blog-card {
		flex: 1 46%;
	}
  /* .profile-blog-card-image img {
    height: 200px;
  } */
	
}

@media ( max-width: 480px ) {
	
	h1 {
		margin-bottom: 20px;
	}
	h5 {
    font-size: 0.6em;
  }
	.container-profile {
		flex-direction: column;
	}
	
	.profile {
		align-self: flex-start;
	}
	
}

.container-accounts {
	padding:100px 50px;
  min-height: 100vh;
}

.edit-profile {
  min-height: 100vh;
  padding: 50px 100px;
}
