@import url(https://fonts.googleapis.com/css?family=Raleway:400,800|Roboto+Slab:300);
@import url('https://fonts.googleapis.com/css?family=Montserrat');

*, *:before, *:after {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	transition: 0.4s ease all;
}

html {
	height: 100%;
	font-size: 100%;
	scroll-behavior: smooth;
}


body {
	display: block;
	overflow-x: hidden;
  background-color: #010409;
  color: #f0f6fc;
	min-height: 100vh;
}

/* #Styling# */
strong {
	font-weight: 700;
}

a,
i,
span {
	color: rgb(212, 211, 211);
	display: inline-block;
	text-decoration: none;
	-webkit-transition: 0.4s ease all;
	transition: 0.4s ease all;
}
  
a:hover, a:focus,
i:hover,
i:focus,
span:hover,
span:focus {
  text-decoration: none;
}

a i {
  -webkit-transition: none;
  transition: none;
}
  
ul {
	margin: 0;
	padding: 0;
}
  
section {
	padding: 50px 0;
	overflow-x: hidden;
	min-height: 100vh;
}
  
button,
input {
	outline: none !important;
	font-family: "Open Sans", sans-serif;
}
  
button {
	cursor: pointer;
}
  
main,
aside {
	padding: 30px 0 50px;
}
  
/* h1 a {
	margin-left: 10px;
	font-size: 0.9em;
	opacity: 0;
	-webkit-transition: 0.4s ease all;
	transition: 0.4s ease all;
	color: rgb(170, 171, 175);
	text-decoration: none;
}
  
h1:hover a {
	opacity: 1;
} */

.form-control, .form-select {
  padding: 5px 12px;
  font-size: 14px;
  line-height: 20px;
  color: #c9d1d9;
  vertical-align: middle;
  background-color: #0d1117;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #21262d;
  border-radius: 6px;
  outline: none;
}

svg.bi.bi-search {
  color: #f0f6fc;
  overflow: hidden;
  vertical-align: middle;
}
.widget {
	padding: 15px;
	border: 1px solid rgba(206, 189, 130, 0.2);
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
  
.widget.search .form-group {
	position: relative;
}
  
.widget.search input {
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 0.95em;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	background: none;
}
  
.widget.search input::-moz-placeholder {
	color: rgb(248, 246, 246);
	font-family: "Open Sans", sans-serif;
}
  
.widget.search input::-webkit-input-placeholder {
	color: rgb(248, 246, 246);
	font-family: "Open Sans", sans-serif;
}
  
.widget.search input:-ms-input-placeholder {
	color: rgb(248, 246, 246);
	font-family: "Open Sans", sans-serif;
}
  
.widget.search .submit {
	height: 40px;
	padding: 5px;
	line-height: 40px;
	background: none;
	border: none;
	color: rgb(223, 219, 219);
	font-size: 0.9em;
	position: absolute;
	top: 0;
	right: 0;
}
  
.widget.latest-posts a {
	display: block;
	color: #6c757d;
	text-decoration: none;
}
  
.widget.latest-posts a:hover {
	color: rgb(230, 214, 214);
}
  
.widget.latest-posts .image {
	min-width: 60px;
	max-width: 60px;
	height: 60px;
	overflow: hidden;
	margin-right: 20px;
}
  
.widget.latest-posts .item {
	margin-bottom: 20px;
}
  
.widget.latest-posts strong {
	font-size: 0.95em;
	display: block;
	line-height: 1em;
}


section.hero {
	padding: 20px;
  max-height: 100vh;
	font: normal 14px/1.618em "Roboto", sans-serif;
}

section.hero .container {
	padding: 150px 20px;
	position: relative;
}
  
section.hero h1 {
	line-height: 1.2em;
}

section.hero .hero-link {
	color: #ddd;
}
  
section.hero .continue {
	position: absolute;
	bottom: 30px;
	left: 20px;
	text-decoration: none !important;
	color: inherit !important;
	text-transform: uppercase;
	font-size: 0.75em;
	opacity: 0.8;
}
  
section.hero .continue i {
	margin-right: 5px;
}
  
  /* Hero Section Media Query ------------------------------------- */
@media (max-width: 767px) {
	section.hero .container {
	  padding: 150px 20px;
	}
}

 
  /*
  * ==========================================================
  *     DIVIDER SECTION
  * ==========================================================
  */
section.divider {
	color: #fff;
}

.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}

/* blog-main */
.blog-main{
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 768px){
  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

.list-group-item {
position: relative;
display: block;
padding: .75rem 1.25rem;
background-color: #fff;

}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* END blog-main */
/* Header */
.blog-header {
  width: 100%;
  background-color: #161b22;
  color: #f0f6fc;
  z-index: 10;
}

.blog-header-logo {
  font-size: 2rem;
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}
.blog-header a{
  color: #f0f6fcb3;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
  font-size: 2.5rem;
}

@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.fixed {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
}
/* START Sidebar: make-me-sticky  */
.blog-sidebar{
  width: 100%;
  height: 100%;
  background-color: #0d1117;
  border: 1px solid rgba(104, 102, 102, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.make-me-sticky {
  position: sticky;
  top: 60px;
  padding: 5px;
}

.card{
  padding: 10px;
  background-color: #0d1117;
  color: #f8f7f7;
  border: 1px solid #30363d;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.card:hover {
	box-shadow: 0 2px 4px 0 #11ddf8;
}

.card-title, h3 a {
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: #58a6ff;
}
.card-text {
  font-size: 1.1rem;
  color: #EDEAE5;
}
.card-img {
  height: 40vh;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}
.h-250 { 
  height: 250px; 
}
@media (min-width: 768px) {
  .h-md-250 { 
    height: 250px; 
  }
}
.image {
  max-height: 200px;
  width: auto;
  overflow: hidden;
  padding: 0;
}
.card-img-top {
  width: 100%;
  max-height: 60vh;
  object-fit:cover;
}

.rounded-circle {
  top: 50%;
  left: 50%;
  height: 127px;
  width: 127px;
  border-radius: 50%;
  border: 3px solid rgb(11, 11, 17);
}
@media (min-width: 40em) {
  .card-title {
    font-size: 2rem;  
  }
}

.avatar{
  height: 42px;
  width: 42px;
  border-radius: 50%;
  border: 1px solid rgb(22, 21, 21);
}
/*
 * Blog posts
 */
.blog-post {
  margin: 3%;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #b6b0ae;
    background-color: #353232;
    border: 1px solid #dee2e6;
}

/* About Section */
.cta {
	display: inline-block;
	padding: 10px;
	color: white;
	background-color: transparent;
	border: 1px solid crimson;
	font-size: 1.5rem;
  font-weight: 600;
	text-transform: uppercase;
	letter-spacing: .1rem;
	margin-top: 30px;
	transition: .3s ease;
	transition-property: background-color, color;
}
.cta:hover a {
	color: crimson;
  text-decoration: none;
}

.about {
	background-color: #010409;
	font-family: Montserrat, sans- serif;
	/* box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75); */
	color: #b3b8cd; 
	padding: 50px;
	/* position: relative;
	height: 100%; */
	max-width: 100%;
	text-align: center;
	display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
  } 
  
  .about .pro {
	background-color: #e99607;
	border-radius: 3px;
	font-size: 14px;
	font-weight: bold;
	padding: 3px 7px;
	position: absolute;
	top: 5px;
	left: 20px; 
  
}

.about h3 {
    margin: 10px 0;
	color: #03bfcb;
	font-family: Montserrat, sans- serif;
	font-weight: 600;
}
  
.about h5 {
    margin: 5px 0;
	padding-top: 20px;
	color: #f7a517;
    text-transform: uppercase;
	font-weight: 600;
  }
  
.about p {
	padding: 30px 50px;
	text-align: center;
    font-size: 18px;
    line-height: 21px;
  }


  button.primary {
  background-color: #0d1117;
	border: 1px solid #2a2a2b;
	border-radius: 3px;
	color: #fbfbfb;
	font-family: Montserrat, sans-serif;
	font-weight: 600;
	padding: 10px 15px;
  }
  
  button.primary.ghost {
    background-color: #ffa600;
    border: 1px solid #692201;
	  /* color: #fbfbfb; */
  }
  button.primary.ghost a {
	background-color: transparent;
	color: #19181A;
  font-weight: 600;
	text-decoration: none;
  }
  button.primary.ghost:hover a {
	/* background-color: transparent; */
	color: #f9faf8;
	text-decoration: none;
}
  
.skills {
	background-color: #0d1117;
	text-align: left;
	padding: 15px;
	margin-top: 30px; 
	margin-bottom: 30px;
  }
.skills ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
  
.skills ul li {
	border: 1px solid #010409;
	border-radius: 2px;
	display: inline-block;
	font-size: 12px;
	margin: 0 7px 7px 0;
	padding: 7px;
  }
.vertical { 
	margin-top: 100px;
	border-left: 6px solid crimson; 
	height: 30vh;
	/* height: 300px;  */
	position:absolute; 
	left: 0; 
} 

.skills-info {
	background-color: #0d1117;
	text-align: left;
	padding: 15px;
	margin-top: 30px; 
	margin-bottom: 30px;
  }

.subscribe {
	background-color: #231e39;
	font-family: Montserrat, sans- serif;
	/* box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75); */
	color: #b3b8cd; 
	padding: 50px;
	/* position: relative;
	height: 100%; */
	max-width: 100%;
	text-align: center;
	display: flex;
    align-items: center;
    justify-content: center;
    
    min-height: 100vh;
    margin: 0;
}

.contact {
	background-color: rgb(17, 19, 17);;
	font-family: Montserrat, sans- serif;
	box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
	color: #b3b8cd; 
	padding: 50px;
	/* position: relative;
	height: 100%; */
	max-width: 100%;
	text-align: center;
    min-height: 100vh;
    margin: 0;
}


/* Button */
/* button, input {
    outline: none !important;
    font-family: Montserrat, sans- serif;
}

button, input {
    overflow: visible;
} 
button, input, optgroup, select, textarea {
    margin: 0;
	padding: 10px 15px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
	background-color: #b7a8f1;
} */

/* Flexbox */
.flex-container {
	background-color: #0d1117;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-size: 30px;
	text-align: center;
  }
  
  .flex-item-left {
	padding: 50px;
	flex: 40%;
  }
  
  .flex-item-right {
	padding: 50px;
	flex: 60%;
  }
  
  /* Responsive layout - makes a one column-layout instead of a two-column layout */
  @media (max-width: 800px) {
	.flex-item-right, .flex-item-left {
	  flex: 100%;
	}
  }

  .flex-item-footer {
	padding: 10px;
	flex: 60%;
	padding: 50px;
}

.links ul {
	list-style: none;
	padding: 0;
	margin: 0 0 20px 0;
  }
  
  .links li {
	font-size: 16px;
	text-align: center;
	cursor: pointer;
  }
  
  .links li:hover {
	text-decoration: underline;
  }
  .footer-icons {
	background-color: #231e39;
  }


  
  /* Footer main | Newsletter form */
  /* ul {
    margin: 0px;
    padding: 0px;
} */
.footer-section {
  background-color: #0d1117;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.linkedin-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
  /* display: inline-block; */
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #010409;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

/* profile */

.container-profile{
  background-color: #161420;
	font-family: Montserrat, sans- serif;
	/* box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75); */
	color: #b3b8cd; 
	padding: 50px;
	/* position: relative;
	height: 100%; */
	max-width: 100%;
	text-align: center;
	display: flex;
    align-items: center;
    justify-content: center;
    /* min-height: 100vh; */
    margin: 0;
}

.profile {
  padding: 5rem 0;
}

.profile-stats {
  margin-top: 2.3rem;
}

.profile-stats li {
  display: inline-block;
  font-size: 1.6rem;
  line-height: 1.5;
  margin-right: 4rem;
  cursor: pointer;
}

.profile-stats li:last-of-type {
  margin-right: 0;
}

.profile-bio {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 2.3rem;
}

