{% extends "_base.html" %}

{% block content %}
<div class="container">
  <div class="row d-flex align-items-stretch">

  <!-- Blog Posts -->
    <main class="posts-listing col-lg-8">
      <div class="content" id="posts">
        {% include 'blogs/posts.html' %}
      </div>
      <div><a id="lazyLoadLink" href="javascript:void(0);" data-page="2">Load More Posts</a></div>
    </main>

    {% include 'sidebar.html' %}
  </div>
</div>
{% endblock content %}

{% block javascript %}
<script>
  $(document).ready(function(){
    $('#lazyLoadLink').on('click', function() {
    var link = $(this);
    var page = link.data('page');
    
    $.ajax({
      type: 'POST',
      url: 'lazy_load_posts/',
      data: {
        'page': page,
        'csrfmiddlewaretoken': '{{ csrf_token }}' // from index.html
      },
      success: function(data) {
        // if there are still more pages to load,
        // add 1 to the "Load More Posts" link's page data attribute
        // else hide the link
        if (data.has_next) {
            link.data('page', page+1);
        } else {
          link.hide();
        }
        // append html to the posts div
        $('#posts').append(data.posts_html);
      },
      error: function(xhr, status, error) {
        // shit happens friends!
      }
    });
  });
  })
</script>
{% endblock javascript %}
