{% extends "_base.html" %}

{% load markdown_extras %}

{% block content %}

{% if post %}
<h3>{{post.title}}</h3>

<small>
    <span>Published on:{{post.timestamp|timesince}} ago |&nbsp;
      <div id="like-section">
        {% include 'blogs/like_section.html' %}
      </div>
    </span>
</small>

<p><b>{{post.overview}}</b></p>
<p>{{post.content | markdown | safe }}</p>

<br>
<hr>

<div id="favourite-section">
  {% include 'blogs/favourite_section.html' %}
</div>
<!-- Comment & Reply -->

<div class="main-comment-section">
  {% include 'blogs/comment_section.html' %}
</div>

{% endif %}

{% endblock content %}
