{% extends "_base.html" %}

{% load urlify %}

{% load markdown_extras %}

{% block head_title %}
{{ post.title }} | {{ block.super }}
{% endblock head_title %}


{% block post_detail_link %}
  <li><a href='{{ post.get_absolute_url }}'>{{ post.title }}</a></li>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
      <div class="col-md-12 mt-3 left">
          <div class="card mb-4">
              {% if post.thumbnail %}
                <img class="card-img-top" src="{{ post.thumbnail.url }}" alt="{{ post.title }}" />
              {% endif %}
          
          <div class="card-body">
              <h3 class="card-title">{{ post.title }} </h3>
          
              <small class="text-muted">
                  Published on:&nbsp;
                  {{ post.published_date.date }} |&nbsp;
          
                  <i class="fa fa-thumbs-up"> {{ total_likes }} Like{{ total_likes|pluralize }}</i>
                  <i class="fa fa-clock text-info"></i> {% if post.read_time <= 1 %} 1 Minute read  {% else %} {{ post.read_time }} Minute{{ post.read_time|pluralize }} read {% endif %} |&nbsp;
                  <i class="fa fa-eye"></i> {{ post.number_of_views }} views |&nbsp;
                  <i class="fa fa-comment"></i> {{ post.comments.count }} comments |&nbsp;

                  Categories:&nbsp;
                  {% for category in post.categories.all %}
                  <a href="{% url 'post_category' category.title %}">
                    {{ category.title }}
                    </a>&nbsp;
                  {% endfor %}
                </small>
                <p class="card-text">{{ post.content | markdown | safe }}</p>
                <br>
                <div class="container">
                  <h5>Share this post</h5>
                    <a href="https://www.facebook.com/sharer.php?u={{ request.build_absolute_uri }}" target="_blank">
                      <i class="fa fa-facebook-square fa-4x" style="color:#3b5998"></i>
                    </a>
                
                    <a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}&text={{ post.content|truncatechars:80|urlify }}&hashtags=python,django" target="_blank">
                      <i class="fa fa-twitter-square fa-4x" style="color:#4099FF"></i>
                    </a>
                </div>
            

                  
              
              <div id="like-section">
                  {% include 'blogs/like_section.html' %}
              </div>
              <div id="favourite-section">
                {% include 'blogs/favourite_section.html' %}
              </div>

              
              <!-- Comment & Reply -->
              
              <div class="main-comment-section">
                {% include 'blogs/comment_section.html' %}
              </div>
             
          </div>
          </div>
      </div>
  </div>
</div>

{% endblock content %}

{% block javascript %}
        <script>
          $(document).on('click', '#favourite', function(event){
            event.preventDefault();
            var slug = $(this).attr('value');
            $.ajax({
              type: 'POST',
              url: '{% url "favourite_post" %}',
              data: {'post_slug':slug, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
              dataType: 'json',
              success: function(response){
                $('#favourite-section').html(response['form'])
                console.log($('#favourite-section').html(response['form']));
                },
                error: function(rs, e){
                  console.log(rs.responseText);
                  },
                
                
                });
            });
        </script>
        <script>
            $(document).on('click', '#like', function(event){
                event.preventDefault();
                var slug = $(this).attr('value');
                $.ajax({
                    type: 'POST',
                    url: '{% url "likes" %}',
                    data: {'post_slug':slug, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                    dataType: 'json',
                    success: function(response){
                        $('#like-section').html(response['form'])
                        console.log($('#like-section').html(response['form']));
                    },
                    error: function(rs, e){
                        console.log(rs.responseText);
                    },
                
                });
            });
        </script>

        {% endblock javascript %}