{% extends "_base.html" %}

{% block content %}
<div class="container">
  <div class="row d-flex align-items-stretch">

  <!-- Blog Posts -->
    <main class="posts-listing col-lg-8">
      <div class="content" id="post-container">
        <!-- 'post_load' function fetch post from models by jquery ajax 'GET' method -->
      </div>
      <div class="load-img" id="more-data">

      </div>
    </main>

    {% include 'sidebar.html' %}
  </div>
</div>
{% endblock content %}

{% block javascript %}
<script>
  $(document).ready(function(){
      var limit=4;
      var start=0;
      var action='inactive'
      function load_post_data(limit, start)
      {
          $.ajax({
              url:'post_load/',
              method:"GET",
              data:{
                  limit:limit,
                  start:start
              },
              caches:false,
              success:function(response){
                  $("#post-container").append(response);
                  if(response==""){
                      $('#more-data').html("<button type='button' class='btn btn-info'>No Post Found</button>")
                       action='active';
                  }else{
                      $('#more-data').html("<button class='btn btn-success'>Loading more post...</button>")
                       action='inactive';
                  }
              }
              
          })
      }
      if(action=='inactive'){
          action='active',
          load_post_data(limit, start);
      }
      $(window).scroll(function(){
        if($(window).scrollTop() + $(window).height() > $('#post-container').height() && action =='inactive'){
            action='active';
            start=start + limit;
            setTimeout(function(){
                load_post_data(limit, start);
            }, 1000)
            
        }
        
    })
  })
</script>
{% endblock javascript %}
