{% extends "_base.html" %}

{% block content %}

  <main class="container">
    <div class="row g-5">
      <div class="col-md-8">
        <h3 class="mb-4 py-2 fst-italic border-bottom">
          Blog from letsflyonthewebsky
        </h3>
        
        <div class="content" id="posts">
          {% include 'blogs/posts.html' %}
        </div>

        <nav class="blog-pagination" aria-label="Pagination">
          <a class="btn btn-outline-info" id="lazyLoadLink" href="javascript:void(0);" data-page="2">Load More Posts</a>        
        </nav>

      </div>
  
      <div class="col-md-4">
        {% include 'sidebar.html' %}
      </div>
    </div>
  </main>
{% endblock content %}

{% block javascript %}
<script>
  $(document).ready(function(){
    $('#lazyLoadLink').on('click', function() {
    var link = $(this);
    var page = link.data('page');
    
    $.ajax({
      type: 'POST',
      url: 'lazy_load_posts/',
      data: {
        'page': page,
        'csrfmiddlewaretoken': '{{ csrf_token }}' // from index.html
      },
      success: function(data) {
        // if there are still more pages to load,
        // add 1 to the "Load More Posts" link's page data attribute
        // else hide the link
        if (data.has_next) {
            link.data('page', page+1);
        } else {
          link.hide();
        }
        // append html to the posts div
        $('#posts').append(data.posts_html);
      },
      error: function(xhr, status, error) {
        // shit happens friends!
      }
    });
  });
  })
</script>
{% endblock javascript %}
