{% extends "_base.html" %}

{% load markdown_extras %}

{% block content %}
<div class="container-blog-posts">
  <h1 class="my-3 text-center">All posts under tag - {{ tag.name }}</h1>
  <section class="blog-posts">
    {% for post in post_by_tag %}
    <div class="blog-card">
      <div class="blog-card-image">
        {% if post.thumbnail %}
        <img src="{{ post.thumbnail.url }}">
        {% else %}
        <img src="https://images.unsplash.com/photo-1610018556010-6a11691bc905?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fHB5dGhvbnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60" alt="" srcset="">
        {% endif %}
      </div>
      <div class="blog-card-info">
        <h5><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h5>
        <div class="mb-1 text-muted">
          {% include 'blogs/post_info.html' %}
        </div>

        <div class="d-inline mb-auto">
          {% for tag in post.tags.all %}
            <a class="card-link btn-outline-info" href="{% url 'post-by-tag' tag.slug %}">#{{ tag }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
    {% empty %}
    <center>
      <h5>No post found under tag - {{ tag.name }}</h5>
    </center>
    {% endfor %}
  </section>
</div>
{% endblock %}