{% load markdown_extras %}

<article class="blog-post">
  
  <div class="row mb-2">
    {% for post in posts %}
    <div class="col-md-12">
   
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm position-relative card">   
        
        <div class="col d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 my-2 text-primary"><a href="{{ post.category.get_absolute_url }}">{{ post.category }}</a></strong>
          <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
          <div class="mb-1 text-muted">
            {% include 'blogs/post_info.html' %}
          </div>
      
          <p class="card-text mb-auto">
            {{post.overview|truncatewords:20}} <a href="{{ post.get_absolute_url }}" class="card-link btn-outline-info">read</a> 
          </p>
          <div class="d-inline mb-auto">
            {% for tag in post.tags.all %}
              <a class="card-link btn-outline-info" href="{% url 'post-by-tag' tag.slug %}">#{{ tag }}</a>
            {% endfor %}
          </div>


        </div>
        <div class="col-auto d-none d-lg-block">
          {% if post.thumbnail %}
          <img class="card-img-right" src="{{ post.thumbnail.url }}" alt="{{ post.title }}">
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  
</article>