{% extends 'control_base.html' %}

{% load crispy_forms_tags %}

{% block extra_head %}
  {{ form.media }}
{% endblock %}

{% block title %}Newsletter{% endblock %}

{% block form %}
<div class="container-fluid">
    <form action="{% url 'newsletters:newsletter' %}" method="post" novalidate>
      {% csrf_token %}
    
      {{ form.subject|as_crispy_field }}
      {{ form.body|as_crispy_field }}
    
      <div class="row">
        <div class="col-6">
          {{ form.email|as_crispy_field }}
        </div>
        <div class="col-6">
          {{ form.status|as_crispy_field }}
        </div>
      </div>
      
      <button type="submit" class="btn btn-success">CREATE</button>
    </form>
    
    </div>
{% endblock %}