{% extends 'control_base.html' %}

{% block content %}
{% if newsletters %}  
<div class="col-sm-9 py-3">
    <div class="row">
        <div class="col-sm-10">
            <h1 class="page-header">All Newsletter</h1>
        </div>
    </div>
    
    <div class="table-responsive table-hover">
        <table class="table">
            <thead>
                <th>Subject</th>
                <th>Status</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Edit</th>
                <th>Delete</th>
            </thead>
            
            <tbody>
              
                {% for item in newsletters %}
                <tr>
                    <td><a href="{% url 'newsletter-detail' item.pk %}">{{ item.subject }}</a></td>
                    <td>{{ item.status }}</td>
                    <td>{{ item.created }}</td>
                    <td>{{ item.updated }}</td>
                    <td><a href="{% url 'newsletter-edit' item.pk %}">Edit</a></td>
                    <td><a href="{% url 'newsletter-delete' item.pk %}">Delete</a></td>
                </tr>
                {% endfor %}
            
            
            </tbody>

        </table>
    </div>
    

    {% if is_paginated %}
  <div class="container">
    {% include 'pagination.html' %}
</div>
{% endif %}
</div>
{% else %}
<div class="container pt-5">
    <h3>Oops! No newsletter found.</h3>
</div>
    
{% endif %}

{% endblock content %}