{% extends "_base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container subscribe">
    <div class="row ">
        <div class="col-12">
            <div class="container">
                <h2>Stay Updated</h2>
                <p>Subscribe to our newsletter to get our latest news.</p>
                {% if messages %}
                {% for message in messages %}
                <div {% if message.tags %} class="{{ message.tags }}" {% endif %} role="alert">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                {% endfor %}
                {% else %}
                <form action="{% url 'newsletters:subscribe' %}" method="POST">
                  {% csrf_token %}
                  <div class="form-group col-md-12 mb-0">
                    {{ form.email|as_crispy_field }}
                  </div>

                  <button type="submit" class="btn cta btn-primary">Subscribe</button>

                </form>
                {% endif %}
              </div>
        </div>
    </div>
</div>

{% endblock content %}