{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Portfolio-Blog{% endblock title %}</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <script src="https://use.fontawesome.com/d6a626efdd.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

        <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
        {% block head_extra %} {% endblock head_extra %}
    </head>
    <body>
        <div class="container-fluid">
            {% include 'header.html' %}
        </div>

        <div class="container-fluid">
            {% block content %}
            {% endblock content %}
        </div>

        <footer class="footer-section">
            {% include 'footer.html' %}     
        </footer>

       
        <!-- JavaScript -->
        
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{% static 'js/jquery-3.5.0.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/base.js' %}"></script>
        
        {% block javascript %}
        <script>
            $(document).on('click', '#favourite', function(event){
                event.preventDefault();
                var slug = $(this).attr('value');
                $.ajax({
                    type: 'POST',
                    url: '{% url "favourite_post" %}',
                    data: {'post_slug':slug, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                    dataType: 'json',
                    success: function(response){
                        $('#favourite-section').html(response['form'])
                        console.log($('#favourite-section').html(response['form']));
                    },
                    error: function(rs, e){
                        console.log(rs.responseText);
                    },
                
                });
            });
        </script>
        <script>
            $(document).on('click', '#like', function(event){
                event.preventDefault();
                var slug = $(this).attr('value');
                $.ajax({
                    type: 'POST',
                    url: '{% url "likes" %}',
                    data: {'post_slug':slug, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                    dataType: 'json',
                    success: function(response){
                        $('#like-section').html(response['form'])
                        console.log($('#like-section').html(response['form']));
                    },
                    error: function(rs, e){
                        console.log(rs.responseText);
                    },
                
                });
            });
        </script>

        {% endblock javascript %}
    </body>
</html>