{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Portfolio-Blog{% endblock title %}</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <script src="https://use.fontawesome.com/d6a626efdd.js"></script>

        {% block head_extra %} {% endblock head_extra %}
    </head>
    <body>
        <div class="container-fluid">
            {% include 'header.html' %}
        </div>

        <div class="container-fluid">
            {% block content %}
            {% endblock content %}
        </div>

        <footer class="footer-section">
            {% include 'footer.html' %}     
        </footer>

       
        <!-- JavaScript -->
        
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{% static 'js/jquery-3.5.0.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/base.js' %}"></script>
        
        {% block javascript %}

        {% endblock javascript %}
    </body>
</html>