<div class="footer-container">
    <div class="footer-item-left">
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'project_index' %}">Portfolio</a></li>
          <li><a href="{% url 'post-list' %}">Blog</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
    </div>
    <div class="footer-item-right">
        <h2>Stay Updated</h2>
        <button class="page-link"><a href="{% url 'newsletters:subscribe' %}">Subscribe</a></button>

        <div class="links">
            <ul>
                <li><span class="pf-stat-count"><i class="fa fa-facebook"></i></span> facebook</li>
                <li><span class="pf-stat-count"><i class="fa fa-twitter"></i></span> twitter</li>
                <li><span class="pf-stat-count"><i class="fa fa-linkedin"></i></span> linkedin</li>
                <li><span class="pf-stat-count"><i class="fa fa-github"></i></span> github</li>
                <li><span class="pf-stat-count"><i class="fa fa-youtube"></i></span> youtube</li>
            </ul>
        </div>
        <div class="copyright-text">
            <p>Copyright &copy; 2021, All Right Reserved By &nbsp; <a href="{% url 'home' %}">letsflyonthewebsky.com</a></p>
        </div>
    </div>
</div>