<div class="footer-container">
    <div class="footer-item-left">
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'project_index' %}">Portfolio</a></li>
          <li><a href="{% url 'post-list' %}">Blog</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
    </div>
    <div class="footer-item-right">
        <h2>Stay Updated</h2>
        <button class="page-link"><a href="{% url 'newsletters:subscribe' %}">Subscribe</a></button>
        <div class="links">
            <ul>
                <li><span class="pf-stat-count"><a href="https://www.facebook.com/letsflyonthewebsky/" target="_blank"> <i class="fa fa-facebook"></i> facebook</a></span></li>
                <li><span class="pf-stat-count"><a href="https://mobile.twitter.com/" target="_blank"><i class="fa fa-twitter"></i> twitter</a></span></li>
                <li><span class="pf-stat-count"><a href="https://www.linkedin.com/feed/" target="_blank"><i class="fa fa-linkedin"></i> linkedin</a></span> </li>
                <li><span class="pf-stat-count"><a href="https://github.com/" target="_blank"><i class="fa fa-github"></i> github</a></span> </li>
                <li><span class="pf-stat-count"><a href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube"></i> youtube</a></span> </li>
            </ul>
        </div>
        <div class="copyright-text">
            <p>Copyright &copy; 2021, All Right Reserved By &nbsp; <a href="{% url 'home' %}">letsflyonthewebsky.com</a></p>
        </div>
    </div>
</div>
