{% load static %}
  <header class="header-container">
    <div class="header-item-left">
      <a href="{% url 'home' %}" class="logo">mkswebsky.com</a>
    </div>
    <div class="header-item-right">
        <button class="btn cta page-link"><a href="{% url 'newsletters:subscribe' %}">Subscribe</a></button>

        <div class="actions">
          {% if request.user.is_authenticated %}
            <div class="dropdown">
              
                <span>
                    
                    <a href="{% url 'profile' request.user.username %}">
                        Hi {{ request.user|capfirst }}
                    </a>
                    
               </span>
               <div class="dropdown-content">
                 <!-- Settings [ User @ Company ] -->
                 
             <ul>
                <li><a href="{% url 'profile_update' request.user.username %}">Edit Profile</a></li>
                <li><a href="{% url 'post_favourite_list' %}">Favourite</a></li>
                <li><a href="{% url 'account_logout' %}">Log Out</a></li>
              </ul>
              </div>
                
          </div>
          <button class="btn cta page-link"><a href="{% url 'account_logout' %}">Sign Out</a></button>
          {% else %}
          <button class="btn cta page-link"><a href="{% url 'account_login' %}">Log In</a></button>
          <button class="btn cta page-link"><a href="{% url 'account_signup' %}">Sign Up</a></button>
          {% endif %} 
          
        </div>
        <div class="links">
            <ul>
              <li><a href="{% url 'home' %}">Home</a></li>
              <li><a href="{% url 'about' %}">About</a></li>
              <li><a href="{% url 'post-list' %}">Blog</a></li>
              <li><a href="{% url 'project_index' %}">Project</a></li>
              <li><a href="{% url 'contact' %}">Contact</a></li>
              {% if request.user.is_staff %}
              <li><a href="{% url 'create-post' %}">Create</a></li>
              {% endif %}
              </ul>
        </div>
    </div>
  </header>



 
