<div class="position-sticky" style="top: 2rem;">
  <div class="p-2 mb-3 rounded">
      <!-- Widget [Search Bar Widget]-->
   
        <form action="{% url 'search_results' %}" class="search-form">
          <div class="input-group">
            <input type="text" class="form-control mr-2" placeholder="Search blog" name="q">
            <div class="input-group-btn">
              <button class="btn btn-sm" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
              </button>
            </div>
          </div>
        </form>
     
  </div>

  <div class="p-2">
    <h4 class="fst-italic">Latest Posts</h4>
    <!-- Widget [Latest Posts Widget] -->
     <div class="widget latest-posts">
      <div class="blog-post">
        {% for post in most_recent %}
        <a href="{{ post.get_absolute_url }}">
          <div class="d-flex item justify-content-start align-items-center">
            
            <div class="image">
              {% if post.thumbnail %}
              <img src="{{ post.thumbnail.url }}" alt="..." class="img-fluid">
              {% endif %}
            </div>
            
            <div class="title"><strong>{{ post.title }}</strong>
              <div class="d-flex  align-items-center">
                <div class="views"><i class="fa fa-eye"></i> {{ post.number_of_views }}</div> |&nbsp;
                <div class="comments"><i class="fa fa-comment"></i> {{ post.comments.count }}</div>
              </div>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="p-2">
    <h4 class="fst-italic">Categories:</h4>

    <!-- Widget [Categories Widget]-->
    <div class="widget categories">
      {% for cat in category_count %}
      <div class="d-flex justify-content-start align-items-center">
        <a href="{% url 'post-by-category' cat.slug %}">{{cat}}</a><span class="badge bg-info text-dark">{{cat.posts_count}}</span>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="p-2">
    <h4 class="fst-italic">Tags:</h4>

    <!-- Widget [Tags Widget]-->
    <div class="widget tags">
      {% for tag in tags %}
      <div class="btn-group mr-2 mb-2">
        <button type="button" class="btn btn-sm btn-outline-secondary">
          <a href="{% url 'post-by-tag' tag.slug %}">{{ tag }}</a>
        </button>
      </div>
      {% endfor %}
    </div>
  </div>
</div>