<aside class="col-lg-4">
    <div class="blog-sidebar">
      <div class="make-me-sticky">

      
    <!-- Widget [Search Bar Widget]-->
    <div class="widget search">
    <header>
        <h3 class="h6">Search blog</h3>
    </header>
    <form action="{% url 'search_results' %}" class="search-form">
        <div class="form-group">
        <input class="form-control" type="text" name="q" placeholder="What are you looking for?">
        <button type="submit" class="submit">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        </button>
        </div>
    </form>
    </div>

      
      

      

    <!-- Widget [Latest Posts Widget]        -->
    <div class="widget latest-posts">
    <header>
        <h3 class="h6">Latest Posts</h3>
    </header>
    <div class="blog-post">
        {% for post in most_recent %}
        <a href="{{ post.get_absolute_url }}">
            <div class="item d-flex align-items-center">
            {% if post.thumbnail %}
            <div class="image"><img src="{{ post.thumbnail.url }}" alt="..." class="img-fluid"></div>
            {% endif %}
            <div class="title"><strong>{{ post.title }}</strong>
                <div class="d-flex align-items-center">
                <div class="views"><i class="fa fa-eye"></i> {{ post.number_of_views }}</div> |&nbsp;
                <div class="comments"><i class="fa fa-comment"></i> {{ post.comments.count }}</div>
                </div>
            </div>
            </div>
        </a>
        {% endfor %}
    </div>
  </div>
    <!-- Widget [Categories Widget]-->
    <div class="widget categories">
    <header>
        <h3 class="h6">Categories</h3>
    </header>
    </div>
    
      </div>
    </div>
  </aside>