@import url(https://fonts.googleapis.com/css?family=Raleway:400,800|Roboto+Slab:300);
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url(https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,900);
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Rock+Salt|Shadows+Into+Light|Cedarville+Cursive');

*, *:before, *:after {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	transition: .3s ease-in-out;
}

html {
	height: 100%;
	font-size: 100%;
	scroll-behavior: smooth;
}


body {
	/* display: block;
	overflow-x: hidden; */
  background-color: #010409;
  color: #f0f6fc; 
	min-height: 100vh;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: rem-calc(16);
}



/* #Styling# */
strong {
	font-weight: 700;
}

a,
i,
span {
	color: rgb(212, 212, 212);
	display: inline-block;
	text-decoration: none;
	-webkit-transition: 0.4s ease all;
	transition: 0.4s ease all;
}
  
a:hover, a:focus,
i:hover,
i:focus,
span:hover,
span:focus {
  text-decoration: none;
  color: rgb(251, 209, 142);
}

a i {
  -webkit-transition: none;
  transition: none;
}
  
ul {
	margin: 0;
	padding: 0;
}

/* section {
	padding: 100px 0;
	overflow-x: hidden;
} */
/* main, header, section, aside, footer {    
  display: block;
  margin: 0;
  padding: rem-calc(20);
  overflow-x: hidden;
} */
main,
aside {
	padding: 30px 0 50px;
}

button,
input {
	outline: none !important;
	font-family: "Open Sans", sans-serif;
}
  
button {
	cursor: pointer;
}

h1 a {
	margin-left: 10px;
	font-size: 0.9rem;
	opacity: 0;
	-webkit-transition: 0.4s ease all;
	transition: 0.4s ease all;
	color: rgb(76, 93, 116);
	text-decoration: none;
}
  
h1:hover a {
	opacity: 1;
}

.input-group .form-control, .form-select {
  padding: 5px 12px;
  font-size: 14px;
  line-height: 20px;
  color: #c9d1d9;
  vertical-align: middle;
  background: #0d1117;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #21262d;
  border-radius: 6px;
  outline: none;
}

svg.bi.bi-search {
  color: #f0f6fc;
  overflow: hidden;
  vertical-align: middle;
}
.widget {
  margin-bottom: 10px;
	padding: 10px;
	border: 1px solid rgb(180 112 61 / 20%);
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
  
.widget.search .form-group {
	position: relative;
}
  
.widget.search input {
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 0.95em;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	background: none;
}
  
.widget.search input::-moz-placeholder {
	color: rgb(248, 246, 246);
	font-family: "Open Sans", sans-serif;
}
  
.widget.search input::-webkit-input-placeholder {
	color: rgb(248, 246, 246);
	font-family: "Open Sans", sans-serif;
}
  
.widget.search input:-ms-input-placeholder {
	color: rgb(248, 246, 246);
	font-family: "Open Sans", sans-serif;
}
  
.widget.search .submit {
	height: 40px;
	padding: 5px;
	line-height: 40px;
	background: none;
	border: none;
	color: rgb(189, 189, 189);
	font-size: 0.9em;
	position: absolute;
	top: 0;
	right: 0;
}
  
.widget.latest-posts a {
	display: block;
	color: #b2b2b3;
	text-decoration: none;
}
  
.widget.latest-posts a:hover {
	color: rgb(230, 214, 214);
}
  
.widget.latest-posts .image {
	min-width: 60px;
	max-width: 60px;
	height: 60px;
	overflow: hidden;
	margin-right: 20px;
}
  
.widget.latest-posts .item {
	margin-bottom: 10px;
}
  
.widget.latest-posts strong {
	font-size: 16px;
	display: block;
	line-height: 1em;
}

textarea.form-control {
  height: auto;
  background-color: #0d1117;
}

section.hero {
  height: 100vh;
  padding: 3rem 2rem;
  background-color: #011431;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
	font: normal 14px/1.618em "Roboto", sans-serif;
}

section.hero .container {
	padding: 3rem 1rem;
	position: relative;
}
  
section.hero h1 {
	line-height: 1.2em;
}

section.hero .hero-link {
	color: #ddd;
}
  
section.hero .continue {
	text-decoration: none !important;
  color: #03bfcb;
	/* color: inherit !important; */
	text-transform: uppercase;
	font-size: 0.75em;
	opacity: 0.8;
}
  
section.hero .continue svg {
	margin-right: 5px;
  color: #03bfcb;
}
  
  /* Hero Section Media Query ------------------------------------- */
  @media (max-width: 40rem) {
    section.hero {
      height: 60vh;
      padding: 1rem;
    }
    section.hero h1 {
      line-height: 1.2em;
      font-size: 1.5rem;
    }
  }
  
  section.intro {
    padding: 3rem 2rem;
    position: relative;
    font: normal 14px/1.618em "Roboto", sans-serif;
  }
  
  section.divider {
    padding: 3rem 2rem;
    position: relative;
    font: normal 14px/1.618em "Roboto", sans-serif;
  }
  
  section.intro .container-intro, section.divider .container-divider  {
    padding: 3rem 2rem;
    position: relative;
  }
  
  @media (max-width: 40rem) {
    section.intro .container-intro, section.divider .container-divider {
      padding: 1rem;
    }
  }
  
  section.featured-posts, section.latest-posts {
    padding: 3rem 2rem;
    position: relative;
  }
  section.featured-posts .container-blog-posts, section.latest-posts .container-blog-posts {
    padding: 3rem 2rem;
    position: relative;
  }
  
  @media (max-width: 40rem) {
    section.featured-posts .container-blog-posts, section.latest-posts .container-blog-posts {
      padding: 1rem;
    }
  }

/* START BLOG POST */
.container-blog-posts{
  margin: 0 auto;
  padding: 1rem;
}
.container-blog-posts h1{
  font-family: 'Cinzel Decorative', cursive;
  font-size: 2rem;
  text-align: center;
}

.blog-posts {
	display: flex;
	flex-wrap: wrap;
  margin: -1rem -1rem;
  padding-bottom: 3rem;
}

.blog-card {
  flex: 1 0 calc(33% - 2rem);
  margin: 1rem;
  padding: .5rem;
  color: #fff;
  background-color: #020914;
  border: 1px solid #011431;
  border-radius: 6px;
  cursor: pointer;
}
.blog-card:hover {
  cursor: pointer;
	box-shadow: 0 4px 6px 0 #11ddf8;
}
.blog-card-image {
  overflow: hidden;
}
.blog-card-image img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  opacity: 0.6;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.blog-card-image:hover img {
  opacity: 1;
  -webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.blog-card-info {
	margin-top: 20px;
	padding: 10px;
	text-align: center;
}

@media ( max-width: 40rem ) {
  .blog-posts{
    flex-direction: column;
  }
  .blog-card {
		flex: 1 0 100%;
    margin: 1rem 0;
	}
	
}

@media ( max-width: 50rem ) {
	
	.blog-card {
		flex: 1 0 calc(50% - 2rem);
	}
	.blog-posts .blog-card:last-child { 
		flex: 1 0 calc(50% - 2rem);
	}
}

@media ( max-width: 60rem ) {
	.blog-card:last-child { 
		flex: 0 0 calc(50% - 2rem);
	}
}


/* END BLOG POST */
.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}
.flex-auto {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}

/* blog-main */
.blog-main{
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 40rem){
  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

.list-group-item {
position: relative;
display: block;
padding: .75rem 1.25rem;
background-color: #fff;

}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
a:hover {
  color: rgb(251, 209, 142);
}

/* END blog-main */
/* Header */
.header-container {
	background-color: #020914;
	display: flex;
  flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
  align-items: center;
}
  
  .header-item-left {
	  flex: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:.3rem;
  }
  .logo {
    text-decoration: none;
    color: rgb(252, 252, 205);
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.3rem;
  }
  .header-item-right {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex: 75%;
  }

.header-item-right img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 2px solid #1c1c38;
  object-fit: cover;
}


  /* Responsive layout - makes a one column-layout instead of a two-column layout */
  @media (max-width: 40rem) {
	  .header-item-left, .header-item-right {
	    flex: 100%;
	  }
    .header-item-left .logo{
      font-size: 1.8rem;
    }
    .header-item-right .page-link a{
      font-size: 1rem;
    }
    .header-item-right .links li {
      font-size: 1.2rem;
    }
  }

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  color: #031f30;
  background-color: rgb(237, 237, 240);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown ul li a{
  color: #010409;
}
.dropdown:hover ul li img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 2px solid #1c1c38;
  object-fit: cover;
}
.actions {
  margin-left: auto;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.sign-out-link {
  color: #62debe;
  font-size: 0.8rem;
  margin-left: 10px;
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}
/* h3{
  font-family: 'Cinzel Decorative', cursive;
} */
.display-4 {
  font-size: 2.5rem;
}

@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.fixed {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
}
/* START Sidebar: make-me-sticky  */
.blog-sidebar{
  width: 100%;
  height: 100%;
}

.make-me-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
  padding: 5px;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card{
  margin: 5px;
  background-color: #0d1117;
  overflow: hidden;
  color: #f8f7f7;
  border: 1px solid rgb(180 112 61 / 20%);
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.card:hover {
  cursor: pointer;
	box-shadow: 0 2px 4px 0 #11ddf8;
}

.card-title, h3 a {
  font-size: calc(1.3rem + .6vw);
  color: #58a6ff;
}

.card-img-top {
  height: 60vh;
  width: 100vw;
  object-fit: cover;
}
a.card-link {
  color: #17a2b8;
	font-size: 16px;
}
.btn-outline-info {
  border-color: #17a2b8;
	padding: 0px 5px;
}

.mb-2, .my-2 {
  margin-bottom: .5rem!important;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.card-img-right {
  height: 100%;
  width: 200px;
  border-radius: 0 3px 3px 0;
  object-fit: cover;
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 { 
  height: 250px; 
}
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

.rounded-circle {
  top: 50%;
  left: 50%;
  height: 127px;
  width: 127px;
  border-radius: 50%;
  border: 3px solid rgb(11, 11, 17);
}
@media (min-width: 40em) {
  .card-title {
    font-size: 2rem;  
  }
}

.avatar{
  height: 42px;
  width: 42px;
  border-radius: 50%;
  border: 1px solid rgb(22, 21, 21);
}

/* Pagination */
.blog-pagination {
  margin-bottom: 2rem;
}
.blog-pagination > .btn {
  padding: .5rem .75rem;
  border: 1px solid #17a2b8;
	border-radius: 2rem;
}
/*
 * Blog posts
 */
.blog-post {
  margin: 3%;
}

.page-link {
    margin: .5rem;
    padding: .3rem;
    background-color: transparent;
    border: 1px solid #17a2b8;
    border-radius: 1.5rem;
}
.page-link a {
  padding: .5rem .75rem;
  color: #17a2b8;
  font-size: 20px;
  font-weight: 600;
}
.page-btn {
  position: relative;
  display: block;
  margin: 2rem 0;
  padding: .5rem .75rem;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 600;
  color: #17a2b8;
  background-color: transparent;
  border: 1px solid #17a2b8;
  border-radius: 2rem;
}
.create-post {
  background-color: #031f30;
  min-height: 100vh;
  padding: 50px 100px;
}
.create-post .wmd-panel {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  min-width: 500px;
}
.create-post .wmd-input {
  height: 300px;
  width: 100%;
  color: #d3d4d4;
  background-color: #0d1117;
  border: 1px solid  #21262d;
}
.create-post .wmd-preview {
  background-color: rgba(13, 17, 23, 0.5);
}
.edit-post {
  min-height: 100vh;
  padding: 50px 100px;
}
.edit-post .wmd-panel {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  min-width: 500px;
}
.edit-post .wmd-input {
  height: 300px;
  width: 100%;
  /* color: #d3d4d4; */
  background-color: #1b1c1f;
  border: 1px solid  #21262d;
}
.edit-post .wmd-preview {
  font-size: inherit;
  background-color: rgba(13, 17, 23, 0.5);
  color: #b37f5c;
}
.edit-post .wmd-preview code {
  font-size: inherit;
  background-color: rgb(13 17 23);
  color: #e4b23e;
  word-break: normal;
}

/* pre {
  display: block;
  font-size: 87.5%;
  color: #c3c9b3;
} */

pre {
  margin-top: 3rem;
  margin-bottom: 1rem;
  overflow: auto;
}

/* About Section */
.cta {
	display: inline-block;
	padding: 10px;
	color: white;
	background-color: transparent;
	border: 1px solid crimson;
	font-size: 1.5rem;
  font-weight: 600;
	text-transform: uppercase;
	letter-spacing: .1rem;
	margin-top: 30px;
	transition: .3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: crimson;
  text-decoration: none;
}

.about {
    background-color: #010409;
    font-family: Montserrat, sans- serif;
    color: #b3b8cd; 
    padding: 50px;
    max-width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
  } 
  
.about .pro {
	background-color: #fb9f00;
	border-radius: 3px;
	font-size: 14px;
	font-weight: bold;
	padding: 3px 7px;
	position: absolute;
	top: 5px;
	left: 20px; 
  
}

.about h3 {
    margin: 10px 0;
    color: #03bfcb;
    font-family: Montserrat, sans- serif;
    font-weight: 600;
}
  
.about h5 {
    margin: 5px 0;
	  padding-top: 20px;
	  color: #f7a517;
    text-transform: uppercase;
	  font-weight: 600;
  }
  
.about p {
    padding: 30px 50px;
    text-align: center;
    font-size: 18px;
    line-height: 21px;
  }


  button.primary {
    background-color: #0d1117;
    border: 1px solid #2a2a2b;
    border-radius: 3px;
    color: #fbfbfb;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    padding: 10px 15px;
  }
  
  button.primary.ghost {
    background-color: #ffa600;
    border: 1px solid #692201;
  }
  button.primary.ghost a {
    background-color: transparent;
    color: #19181A;
    font-weight: 600;
    text-decoration: none;
  }
  button.primary.ghost:hover a {
	color: #f9faf8;
	text-decoration: none;
}
  
.skills {
	background-color: #0d1117;
	text-align: left;
	padding: 15px;
	margin-top: 30px; 
	margin-bottom: 30px;
  }
.skills ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
  
.skills ul li {
	border: 1px solid #222222;
	border-radius: 2px;
	display: inline-block;
	font-size: 12px;
	margin: 0 7px 7px 0;
	padding: 7px;
  }
.vertical { 
	margin-top: 100px;
	border-left: 6px solid crimson; 
	height: 30vh;
	position:absolute; 
	left: 0; 
} 

.skills-info {
	background-color: #0d1117;
	text-align: left;
	padding: 15px;
	margin-top: 30px; 
	margin-bottom: 30px;
  }

.subscribe {
  background-color: #010409;
  font-family: Montserrat, sans- serif;
  color: #b3b8cd; 
  padding: 50px;
  max-width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.contact {
	font-family: Montserrat, sans- serif;
	box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
	color: #b3b8cd; 
	padding: 50px;
	max-width: 100%;
	text-align: center;
  min-height: 100vh;
  margin: 0;
}


/* Start Footer Container */
.footer-container {
	background-color: #020914;
	display: flex;
  flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
  align-items: center;
  }
  
  .footer-item-left {
	  flex: 20%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding:.3rem;
  }

  .footer-item-left ul li a{
    font-family: 'Cinzel Decorative', cursive;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
  }
  
  .footer-item-right {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: .5rem;
    flex: 80%;
  }

  /* Responsive layout - makes a one column-layout instead of a two-column layout */
  @media (max-width: 40rem) {
	  .footer-item-left, .footer-item-right {
	    flex: 100%;
	  }
    .footer-item-right .links li {
      font-size: 1rem;
    }
  }

.links {
  flex-basis: 100%;
}
.links ul {
  display: flex;
  justify-content: space-between;
  border-top: 0.1rem solid #dadada;
  border-bottom: 0.1rem solid #dadada;
}
.links li {
  flex-basis: 100%;
  font-size: 1.6rem;
  line-height: 1.5;
  padding: .5rem;
  cursor: pointer;
}

.links li:hover {
text-decoration: underline;
}
.copyright-text{
  margin-top: 1rem;
  flex-basis: 100%;
  font-size: 1rem;
  text-align: center;
  color: #17a2b8;
}
.copyright-text a {
  /* color: crimson;
  font-size: 1.1rem;
  letter-spacing: .33rem;
  font-weight: 300; */

  text-decoration: none;
  color: crimson;
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.1rem;
  letter-spacing: 1px;
  padding: 10px;
}

/* END Footer Container */

/* Loader */

.loader {
  width: 5rem;
  height: 5rem;
  border: 0.6rem solid #999;
  border-bottom-color: transparent;
  border-radius: 50%;
  margin: 0 auto;
  animation: loader 500ms linear infinite;
}

/* Spinner Animation */

@keyframes loader {
  to {
      transform: rotate(360deg);
  }
}

.pf-container {
  background-color: #020914;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
  
  .pf-item-left {
    padding: 50px;
    flex: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .pf-item-left img {
    height: 9.5rem;
    width: 9.5rem;
    border-radius: 50%;
    border: 3px solid #dfdfdf;
    object-fit: cover;
  }
  
  .pf-item-right {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 50px;
    flex: 60%;
  }
  .pf-settings{
    display: flex;
    flex: 100%;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  .pf-name{
    font-size: 3rem;
  }
  .pf-stats {
    flex-basis: 100%;
    margin-top: 1rem;
  }
  .pf-stats ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1.2rem 0;
    border-top: 0.1rem solid #dadada;
    border-bottom: 0.1rem solid #dadada;
  }
  .pf-stats li {
    display: inline-block;
    font-size: 1.6rem;
    line-height: 1.5;
    cursor: pointer;
  }

  .pf-bio{
    margin-top: 1rem;
    flex-basis: 100%;
  }
  

  /* Responsive layout - makes a one column-layout instead of a two-column layout */
  @media (max-width: 800px) {
    .pf-item-right, .pf-item-left {
      flex: 100%;
    }
    .pf-settings{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .pf-name{
      font-size: 2.5rem;
    }
    .pf-stats {
      order: 3;
      font-size: 1rem;
    }
    .pf-stats li {
      font-size: 1.1rem;
      line-height: 1;
      cursor: pointer;
    }
  }

.container-accounts {
	padding:100px 50px;
  min-height: 100vh;
}

.edit-profile {
  min-height: 100vh;
  padding: 50px 100px;
}

