{% extends '_base.html' %}

{% load static %}

{% block title %}Profile{% endblock title %}

{% block content %}
<header>

	<div class="container-profile">
		<div class="profile">
			<div class="profile-image">

				{% if request.user.profile.photo %}
				<img src="{{ request.user.profile.photo.url }}" alt="">
			  	{% else %}
				<img src="/media/default.jpg" alt="">
			  {% endif %}
				
			</div>

			<div class="profile-user-settings">
				<h1 class="profile-user-name">{{ page_user|capfirst }}</h1>
				<button class="btn profile-edit-btn"><a href="{% url 'profile_update' request.user.username %}">Edit Profile</a></button>
				<button class="btn profile-settings-btn" aria-label="profile settings"><i class="fa fa-cog" aria-hidden="true"></i></button>
			</div>
			<div class="profile-stats">
				<ul>
					<li><span class="profile-stat-count">{{ user_posts.count }}</span> posts</li>
					<li><span class="profile-stat-count">188</span> followers</li>
					<li><span class="profile-stat-count">206</span> following</li>
				</ul>
			</div>

			<div class="profile-bio">
				<p><span class="profile-real-name">{{ page_user|capfirst }}</span> {{ page_user.profile.bio }}</p>
			</div>
		</div>
		<!-- End of profile section -->
	</div>
</header>

<main>
<div class="container-blog-posts">
	{% if user_posts %} 
    <h1>{{ page_user|capfirst }}'s Posts:</h1>
    <section class="blog-posts">
		{% for post in user_posts %}
		<div class="blog-card">
			<div class="blog-card-image">
				{% if post.thumbnail %}
				<img src="{{ post.thumbnail.url }}">
				{% endif %}
			</div>
			<div class="blog-card-info">
				<h5><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h5>
				<div class="mb-1 text-muted">
				  {% include 'blogs/post_info.html' %}
				</div>
		
				<div class="d-inline mb-auto">
				  {% for tag in post.tags.all %}
					<a class="card-link btn-outline-info" href="{% url 'post-by-tag' tag.slug %}">#{{ tag }}</a>
				  {% endfor %}
				</div>
			  </div>
		</div>
		{% endfor %}
	</section>
	{% endif %}

	{% if user_fav_posts %}
	<h1>{{ page_user|capfirst }}'s Favourite Posts:</h1>
    <section class="blog-posts">
    {% for post in user_fav_posts %}
		<div class="blog-card">
			<div class="blog-card-image">
				<img src="{{ post.thumbnail.url }}">
			</div>
			<div class="blog-card-info">
				<h5><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h5>
				<div class="mb-1 text-muted">
				  {% include 'blogs/post_info.html' %}
				</div>
		
				<div class="d-inline mb-auto">
				  {% for tag in post.tags.all %}
					<a class="card-link btn-outline-info" href="{% url 'post-by-tag' tag.slug %}">#{{ tag }}</a>
				  {% endfor %}
				</div>
			  </div>
		</div>
		{% endfor %}
	</section>
	{% endif %}
</div>
</main>
{% endblock content %}
