{% extends '_base.html' %}

{% load static %}

{% block title %}Profile{% endblock title %}

{% block content %}
<header>
	<div class="pf-container">
		<div class="pf-item-left">
			{% if page_user.profile.photo  %}
			<img src="{{ page_user.profile.photo.url }}" alt="">
			{% endif %}
		</div>
		<div class="pf-item-right">
			<div class="pf-settings">
				<h1 class="pf-name">{{ page_user|capfirst }}</h1>
				<button class="page-link"><a href="{% url 'profile_update' request.user.username %}">Edit Profile</a></button>
			</div>
			<div class="pf-stats">
				<ul>
					<li><span class="pf-stat-count"><a href="{{ page_user.profile.facebook_url }}" target="_blank"> <i class="fa fa-facebook"></i> facebook</a></span></li>
					<li><span class="pf-stat-count"><a href="{{ page_user.profile.twitter_url }}" target="_blank"><i class="fa fa-twitter"></i> twitter</a></span></li>
					<li><span class="pf-stat-count"><a href="{{ page_user.profile.linkedin_url }}" target="_blank"><i class="fa fa-linkedin"></i> linkedin</a></span> </li>
					<li><span class="pf-stat-count"><a href="{{ page_user.profile.github_url }}" target="_blank"><i class="fa fa-github"></i> github</a></span> </li>
					<li><span class="pf-stat-count"><a href="{{ page_user.profile.youtube_url }}" target="_blank"><i class="fa fa-youtube"></i> youtube</a></span> </li>
				</ul>
			</div>
			<div class="pf-bio">
				{% if page_user.profile.bio %}
				<p>{{ page_user.profile.bio }}</p>
				{% endif %}
			</div>
		</div>
	  </div>
</header>
<main>
<div class="container-blog-posts">
	{% if user_posts %} 
    <h1>{{user_posts.count}} posts:</h1>
    <section class="blog-posts">
		{% for post in user_posts %}
		<div class="blog-card">
			<div class="blog-card-image">
				{% if post.thumbnail %}
				<img src="{{ post.thumbnail.url }}">
				{% endif %}
			</div>
			<div class="blog-card-info">
				<h5><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h5>
				<div class="mb-1 text-muted">
				  {% include 'blogs/post_info.html' %}
				</div>
		
				<div class="d-inline mb-auto">
				  {% for tag in post.tags.all %}
					<a class="card-link btn-outline-info" href="{% url 'post-by-tag' tag.slug %}">#{{ tag }}</a>
				  {% endfor %}
				</div>
			  </div>
		</div>
		{% endfor %}
	</section>
	{% endif %}

	{% if user_fav_posts %}
	<h1>{{ page_user|capfirst }}'s Favourite Posts:</h1>
    <section class="blog-posts">
    {% for post in user_fav_posts %}
		<div class="blog-card">
			<div class="blog-card-image">
				{% if post.thumbnail %}
				<img src="{{ post.thumbnail.url }}">
				{% endif %}
			</div>
			<div class="blog-card-info">
				<h5><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h5>
				<div class="mb-1 text-muted">
				  {% include 'blogs/post_info.html' %}
				</div>
		
				<div class="d-inline mb-auto">
				  {% for tag in post.tags.all %}
					<a class="card-link btn-outline-info" href="{% url 'post-by-tag' tag.slug %}">#{{ tag }}</a>
				  {% endfor %}
				</div>
			  </div>
		</div>
		{% endfor %}
	</section>
	{% endif %}
</div>
</main>
{% endblock content %}
